<h2 id="title">Ember CLI Sanitize HTML</h2>

<h3>Enter Value</h3>
{{textarea value=value cols=100 rows=10}}

<h3>Sanitized Inline</h3>
{{sanitize-html value=value}}

<h3>Raw Inline</h3>
{{sanitize-html value=value raw=true}}

<h3>Sanitized Block Params</h3>
{{#sanitize-html
	value=value
as |sanitizedValue|}}
  {{sanitizedValue}}
{{/sanitize-html}}

<h3>Raw Block Params</h3>
{{#sanitize-html
	value=value
as |sanitizedValue|}}
  {{! template-lint-disable no-triple-curlies }}
  {{{sanitizedValue}}}
  {{! template-lint-enable no-triple-curlies }}
{{/sanitize-html}}